<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
<div class="center">
<div class="player-card">
    <h1>ll</h1> 
    <img src="https://res.cloudinary.com/di449masi/image/upload/v1608586330/otr5ge9b0melawc2edt7.jpg" alt="Avatar" height="150" width="150">
    <div class="grid-container">
            <div class="grid-item">
                <b>pts</b>
                    <div class="box">
                21
                        </div>
            </div>
            <div class="grid-item">
                    <b>rbs</b>
                    <div class="box">
                6
                        </div>
            </div>
            <div class="grid-item"> <b>asts</b>
                <div class="box">
            11
                    </div></div>
    </div>
    <div class="grid-container" >
            <div class="grid-item">
                    <b>fg %</b>
                    <div class="box">
                6
                        </div>
            </div>
            <div class="grid-item">  
                <b> 3pt fg%</b>
                <div class="box">
            40
                    </div></div>
            <div class="grid-item">
                    <b>tov</b>
                    <div class="box">
                4
                        </div>
            </div>
    </div>
    <div class="grid-container" style="margin-left: 25%">
            <div class="grid-item"><b>blk</b>
                <div class="box">
            4
                    </div></div>
            <div class="grid-item">
                    <b>stl</b>
                    <div class="box">
                4
                        </div>
            </div>
    </div>
    <b>last 5 games</b>

    <div class="collapsible">
            <div class="grid-container-1">
                    <div class="grid-item">W 110- 102</div>
                    <div class="grid-item">21 pts</div>
                    <div class="grid-item">2 asts</div>
                    <div class="grid-item">12 rbs</div>
                    <div class="grid-item">65 %</div>
                    <div class="grid-item">4/5 3pt </div>
                    <div class="grid-item">2 tovs</div>
                    <div class="grid-item">2 stls</div>
                    <div class="grid-item">2 blk</div>
            </div>
            
    </div>
    <div class="collapsible">
            <div class="grid-container-1">
                    <div class="grid-item">1</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
            </div>
            
    </div>
    <div class="collapsible">
            <div class="grid-container-1">
                    <div class="grid-item">1</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
                    <div class="grid-item">2</div>
            </div>
            
    </div>
</div>
</div>