<div class="grid-container">
    <div class="grid-item">
        
                    <div class="player-card">
                            <div class="grid-container">

                            <div class="grid-item">
                                6
                            </div>
                            <div class="grid-item">
                                6
                            </div>
                        </div>
                        <div class="grid-container">

                                <div class="grid-item">
                                    6
                                </div>
                                <div class="grid-item">
                                        
                                    6
                                </div>
                            </div>
                            <div class="left">
                                    
                                            
                                            <p data-toggle="modal" data-target="#myModal">Sdrtgysgyerdwsfcxewcercerc</p>
                                    </div>
                                    
                        </div>
                
    </div>
    <div class="grid-item">
            <b>rbs</b>
            <div class="box">
        6
                </div>
    </div>
    <div class="grid-item"> <b>asts</b>
        <div class="box">
    11
            </div></div>

            <div class="modal" id="myModal" >
                    <div class="modal-dialog">
                      <div class="modal-content" >
                      
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Modal Heading</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <div class="container">
                                    
                                <table class="table table-borderless">
                                  <thead>
                                    <tr>
                                      <th>Stat</th>
                                      <th>Home</th>
                                      <th>Away</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Pts</td>
                                      <td>154</td>
                                      <td>122</td>
                                    </tr>
                                    <tr>
                                      <td>Mary</td>
                                      <td>Moe</td>
                                      <td>mary@example.com</td>
                                    </tr>
                                    <tr>
                                      <td>July</td>
                                      <td>Dooley</td>
                                      <td>july@example.com</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="collapsible">
                                        <div class="grid-container-1">
                                             <div class="grid-item">Mary d</div>
                                                <div class="grid-item">21 pts</div>
                                                <div class="grid-item">2 asts</div>
                                                <div class="grid-item">12 rbs</div>
                                                <div class="grid-item">65 %</div>
                                                <div class="grid-item">4/5 3pt </div>
                                                <div class="grid-item">2 tovs</div>
                                                <div class="grid-item">2 stls</div>
                                                <div class="grid-item">2 blk</div>
                                        </div>
                                        
                                </div>    <div class="collapsible">
                                        <div class="grid-container-1">
                                                <div class="grid-item">W 110- 102</div>
                                                <div class="grid-item">21 pts</div>
                                                <div class="grid-item">2 asts</div>
                                                <div class="grid-item">12 rbs</div>
                                                <div class="grid-item">65 %</div>
                                                <div class="grid-item">4/5 3pt </div>
                                                <div class="grid-item">2 tovs</div>
                                                <div class="grid-item">2 stls</div>
                                                <div class="grid-item">2 blk</div>
                                        </div>
                                        
                                </div>    <div class="collapsible">
                                        <div class="grid-container-1">
                                                <div class="grid-item">W 110- 102</div>
                                                <div class="grid-item">21 pts</div>
                                                <div class="grid-item">2 asts</div>
                                                <div class="grid-item">12 rbs</div>
                                                <div class="grid-item">65 %</div>
                                                <div class="grid-item">4/5 3pt </div>
                                                <div class="grid-item">2 tovs</div>
                                                <div class="grid-item">2 stls</div>
                                                <div class="grid-item">2 blk</div>
                                        </div>
                                        
                                </div>    <div class="collapsible">
                                        <div class="grid-container-1">
                                                <div class="grid-item">W 110- 102</div>
                                                <div class="grid-item">21 pts</div>
                                                <div class="grid-item">2 asts</div>
                                                <div class="grid-item">12 rbs</div>
                                                <div class="grid-item">65 %</div>
                                                <div class="grid-item">4/5 3pt </div>
                                                <div class="grid-item">2 tovs</div>
                                                <div class="grid-item">2 stls</div>
                                                <div class="grid-item">2 blk</div>
                                        </div>
                                        
                                </div>    <div class="collapsible">
                                        <div class="grid-container-1">
                                                <div class="grid-item">W 110- 102</div>
                                                <div class="grid-item">21 pts</div>
                                                <div class="grid-item">2 asts</div>
                                                <div class="grid-item">12 rbs</div>
                                                <div class="grid-item">65 %</div>
                                                <div class="grid-item">4/5 3pt </div>
                                                <div class="grid-item">2 tovs</div>
                                                <div class="grid-item">2 stls</div>
                                                <div class="grid-item">2 blk</div>
                                        </div>
                                        
                                </div>    <div class="collapsible">
                                        <div class="grid-container-1">
                                                <div class="grid-item">W 110- 102</div>
                                                <div class="grid-item">21 pts</div>
                                                <div class="grid-item">2 asts</div>
                                                <div class="grid-item">12 rbs</div>
                                                <div class="grid-item">65 %</div>
                                                <div class="grid-item">4/5 3pt </div>
                                                <div class="grid-item">2 tovs</div>
                                                <div class="grid-item">2 stls</div>
                                                <div class="grid-item">2 blk</div>
                                        </div>
                                        
                                </div>
                              </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
</div>