<div class="container">
                                    
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Stat</th>
              <th>Home</th>
              <th>Away</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pts</td>
              <td>154</td>
              <td>122</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
    </div>