<div class="container">

<div class="display">
<table class="table table-borderless">
        <thead>
          <tr>
            <th>West</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 Hawks (102 - 66)</td>
          </tr>
          <tr>
            <td>Mary</td>
          </tr>
          <tr>
            <td>July</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="display">

      <table class="table table-borderless">
            <thead>
              <tr>
                <th>West</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 Hawks (102 - 66)</td>
              </tr>
              <tr>
                <td>Mary</td>
              </tr>
              <tr>
                <td>July</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
