<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>First</a>
    <ng-template ngbNavContent><app-players></app-players></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Second</a>
    
    <ng-template ngbNavContent><app-teams></app-teams></ng-template>
  </li>
  <li ngbNavItem>
      
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent><app-games></app-games></ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Second</a>
        <ng-template ngbNavContent><app-standings></app-standings></ng-template>
      </li>
      <li ngbNavItem>
          <a ngbNavLink>Second</a>
          <ng-template ngbNavContent><app-stats></app-stats></ng-template>
        </li>
</ul>
<div [ngbNavOutlet]="nav"></div>